.pointer {
    cursor: pointer;
}

.extra-space {
    padding-left: 10px;
}

ul {
    list-style: none;
}

ul li {
    list-style: none;
}

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}